In [4]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv("csv_hil/psam_h17.csv")

C:\Users\jstep\anaconda3\envs\Capstone\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df

,RT,SERIALNO,DIVISION,PUMA,REGION,ST,ADJHSG,ADJINC,WGTP,NP,...,WGTP71,WGTP72,WGTP73,WGTP74,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80
0,H,2014000000015,3,3108,2,17,1061728,1070673,13,4,...,4,15,25,24,15,13,11,15,14,24
1,H,2014000000029,3,2501,2,17,1061728,1070673,3,2,...,4,4,7,8,7,8,4,6,4,7
2,H,2014000000041,3,3502,2,17,1061728,1070673,31,1,...,25,38,49,53,9,26,34,24,9,14
3,H,2014000000113,3,3526,2,17,1061728,1070673,7,2,...,2,7,5,7,7,12,3,6,8,11
4,H,2014000000125,3,1105,2,17,1061728,1070673,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293827,H,2018HU1400791,3,401,2,17,1000000,1013097,21,0,...,39,6,22,6,6,23,24,23,22,6
293828,H,2018HU1400807,3,3208,2,17,1000000,1013097,18,4,...,6,16,6,5,19,6,31,19,16,17
293829,H,2018HU1400835,3,2601,2,17,1000000,1013097,24,2,...,36,7,25,42,33,19,25,25,24,23
293830,H,2018HU1400870,3,3407,2,17,1000000,1013097,24,2,...,39,23,7,24,7,46,24,7,7,23
293831,H,2018HU1400911,3,3309,2,17,1000000,1013097,24,4,...,7,21,7,28,22,7,22,42,6,26

In [5]:
target=df.HINCP.dropna()

In [9]:
new_df=df.merge(target,how="inner",right_index=True,left_index=True)

In [11]:
X=new_df[["WGTP13","WGTP20"]]
y=new_df["HINCP_y"]

In [12]:
X_train, X_test,y_train, y_test=train_test_split(X,y,train_size=.8)

In [13]:
lr=LinearRegression()

In [16]:
lr.fit(X_train,y_train)

LinearRegression()

In [17]:
lr.score(X_train,y_train)

0.00010604562776839188

In [18]:
lr.score(X_test,y_test)

0.00019777105872387235